<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Invoice
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Invoice List</h5>
        </div>
        <div class="card-body">
            <div class="row mrgn-btm-15">
                <div class="col-lg-12 algn-right">
                    <button class="btn btn-primary btn-sm" (click)="generateInvoice()">
                        Generate Invoice</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Generated Date</th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let generateInvoice of generateInvoiceList">
                                <td>
                                    {{generateInvoice.title}}
                                </td>
                                <td>
                                    {{generateInvoice.createdBy}}

                                </td>
                                <td>
                                    {{generateInvoice.generatedDate}}
                                </td>

                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Download">
                                        <fa-icon [icon]="faDownload"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="View">
                                        <fa-icon [icon]="faEye"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div *ngIf="!isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Invoice Detail</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4">
                    <label for="lastNname">Title*</label>
                    <input class="form-control" type="text" id="title" placeholder="Title" autocomplete="off"
                        maxlength="100">
                </div>
            </div>
            <div class="row mrgn-btm-15">
                <div class="col-lg-10">
                </div>

                <div class="col-lg-2 algn-right">
                    <input type="button" class="btn btn-success" value="Preview" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 card shadow">
                    <table style="margin-bottom: 15px;">
                        <tr>
                            <td>
                                TechMatys
                            </td>
                            <td style="text-align: right;">
                                hello@techmatys.com <br>
                                Dehradun, India
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                BILLING INVOICE
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td style="width: 10%;">
                                <span>Date </span>
                                <input class="form-control" type="text" id="title" placeholder="Title"
                                    autocomplete="off" maxlength="100" style="width: 150px;">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td style="width: 10%;">
                                <span>Invoice # </span>
                                <input class="form-control" type="text" id="title" placeholder="Title"
                                    autocomplete="off" maxlength="100" style="width: 150px;">
                            </td>
                        </tr>

                        <tr>
                            <td>
                            </td>
                            <td style="width: 10%;">
                                <input type="button" class="btn btn-success" value="Add new Item" />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Unit Price
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input class="form-control" type="text" id="title" placeholder="Title"
                                                    autocomplete="off" maxlength="100">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="title" placeholder="Title"
                                                    autocomplete="off" maxlength="100">

                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="title" placeholder="Title"
                                                    autocomplete="off" maxlength="100">

                                            </td>
                                            <td>
                                                <label>
                                                    10000
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 50%;">
                                <span>Bill To</span>
                                <input class="form-control" type="text" id="title" placeholder="Title"
                                    autocomplete="off" maxlength="100" width="150px">
                            </td>
                            <td>
                                <span>SUBTOTAL</span>
                                <input class="form-control" type="text" id="title" placeholder="Title"
                                    autocomplete="off" maxlength="100" width="150px">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td style="width: 10%;">
                                <span>Tax </span>
                                <input class="form-control" type="text" id="title" placeholder="Title"
                                    autocomplete="off" maxlength="100" style="width: 150px;">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td style="width: 10%;">
                                <span>Total </span>
                                <input class="form-control" type="text" id="title" placeholder="Title"
                                    autocomplete="off" maxlength="100" style="width: 150px;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row submit-buttons mrgn-top-15">
                <div class="form-group col-lg-12">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                </div>
            </div>
        </div>
    </div>
</div>