<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            <h4>
                <span class="logo-red">Tech</span><span class="logo-purple">Matys</span>
            </h4>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0)" routerLink="">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span>
                Dashboard
            </span>
        </a>
    </li>
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="isCollapsedPoject = !isCollapsedPoject" 
        [attr.aria-expanded]="!isCollapsedPoject" aria-controls="collapseProject">
            <fa-icon [icon]="faProject"></fa-icon>
            <span>Project</span>
            <fa-icon [icon]="faAngleRight" class="menu-icon" *ngIf="isCollapsedPoject"></fa-icon>
            <fa-icon [icon]="faAngleDown" class="menu-icon" *ngIf="!isCollapsedPoject"></fa-icon>
        </a>
        <div [collapse]="isCollapsedPoject" [isAnimated]="true">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0)" routerLink="Project">
                    Project Details
                </a>
                <a class="collapse-item" href="javascript:void(0)" routerLink="ProjectPayment">
                    Project Payment
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="isCollapsedEmployee = !isCollapsedEmployee" 
        [attr.aria-expanded]="!isCollapsedEmployee" aria-controls="isCollapsedEmployee">
            <fa-icon [icon]="faUsers"></fa-icon>
            <span>Employee</span>
            <fa-icon [icon]="faAngleRight" class="menu-icon" *ngIf="isCollapsedEmployee"></fa-icon>
            <fa-icon [icon]="faAngleDown" class="menu-icon" *ngIf="!isCollapsedEmployee"></fa-icon>
        </a>
        <div [collapse]="isCollapsedEmployee" [isAnimated]="true">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0)" routerLink="Employee">
                    Employee Details
                </a>
                <a class="collapse-item" href="javascript:void(0)" routerLink="EmployeePayment">
                    Employee Payment
                </a>
                <a class="collapse-item" href="javascript:void(0)" routerLink="EmployeeProject">
                    Employee Project
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="isCollapsedCompany = !isCollapsedCompany" 
        [attr.aria-expanded]="!isCollapsedCompany" aria-controls="collapseEmployee">
            <fa-icon [icon]="faCompany"></fa-icon>
            <span>Company</span>
            <fa-icon [icon]="faAngleRight" class="menu-icon" *ngIf="isCollapsedCompany"></fa-icon>
            <fa-icon [icon]="faAngleDown" class="menu-icon" *ngIf="!isCollapsedCompany"></fa-icon>
        </a>
        <div [collapse]="isCollapsedCompany" [isAnimated]="true">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="javascript:void(0)" routerLink="CompanyExpenses">
                    Company Expenses
                </a>
                <a class="collapse-item" href="javascript:void(0)" routerLink="GenerateInvoice">
                    Generate Invoice
                </a>
            </div>
        </div>
    </li>



    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" routerLink="User">
            <fa-icon [icon]="faUser"></fa-icon>
            <span>Users</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" routerLink="Report">
            <fa-icon [icon]="faFile"></fa-icon>
            <span>Report</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->