<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Employee
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Employer List</h5>
        </div>

        <div class="card-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-lg-12">
                    <button class="btn btn-primary btn-sm" (click)="addEmployer()" style="float:right">Add
                        New</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Designation</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employer">
                                <td>{{emp.name}}</td>
                                <td>{{emp.startDate}}</td>
                                <td>{{emp.designation}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Edit">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <!-- Card Header - Dropdown -->
        <div class="card-header ">
            <h5 class="m-0 font-weight-bold text-primary">Add Employer</h5>

        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" placeholder="FirstName" autocomplete="off" >
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="lastNname">Last Name</label>
                        <input class="form-control" type="text" id="lastNname" placeholder="LastName" autocomplete="off" >
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="description">Designation</label>
                            <select name="city" class="form-select col-lg-12" (change)="onChange($event.target)">
                                <option *ngFor="let designation of designations"  [value]="designation.id">{{designation.name}}</option>
                                </select>
                        </div>
                    <div class="form-group col-lg-6">
                        <label for="gender">Gender</label>
                        <select name="city" class="form-select col-lg-12" (change)="onChange($event.target)">
                            <option *ngFor="let gender of genders"  [value]="gender.id">{{gender.name}}</option>
                            </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="ngbDatepicker">Start Date </label>
                        <div class="input-group">
                            <input class="form-control" placeholder="DD/MM/YYYY" name="dp" ngbDatepicker
                                #d="ngbDatepicker" mask="00/00/0000" autocomplete="off" >
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ngbDatepicker">End Date </label>
                        <div class="input-group">
                            <input class="form-control" placeholder="DD/MM/YYYY" name="dp" ngbDatepicker
                                #p="ngbDatepicker" mask="00/00/0000" autocomplete="off" >
                            <button class="btn btn-outline-secondary calendar" (click)="p.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="description">Mobile</label>
                        <input class="form-control" type="text" id="mobile" placeholder="Mobile Number" mask="(000) 000 0000" autocomplete="off" >
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-12">
                        <input type="button" *ngIf="isAddNew" class="btn btn-success" value="Save"
                            style="margin-right: 10px; width:100px;" />
                        <input type="button" *ngIf="!isAddNew" class="btn btn-primary" value="Update"
                            style="margin-right: 10px; width:100px;" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" style="width:100px;"
                            (click)="isShown = true" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>