<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userDropdown" role="button"
        (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseProject">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
          <h6>
            Welcome Admin
          </h6>
        </span>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      
        <a class="dropdown-item"  href="#" routerLink="Profile"  >Profile</a>
      
      
        <a class="dropdown-item" href="javascript:void(0)">
          <fa-icon [icon]="faSignOut"></fa-icon> Logout
        </a>
        
      </div>
    </li>
  </ul>

</nav>


