<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Company Expenses
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> Company Expenses List</h5>
        </div>
        <div class="card-body">
            <div class="row mrgn-btm-15">
                <div class="col-lg-2">
                    <strong>Start Date</strong>
                    <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker mask="00/00/0000"
                    [maxDate]="today" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false, containerClass: 'theme-dark-blue'}">
                </div>
                <div class="col-lg-2">
                    <strong>End Date</strong>
                    <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker mask="00/00/0000"
                    [maxDate]="today" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false, containerClass: 'theme-dark-blue'}" >
                </div>
                <div class="col-lg-8 algn-right">
                    <button class="btn btn-primary btn-sm" (click)="addExpenses()">
                        Add Expenses</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                            <tr>
                                <th scope="col">Expense Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Month/Year</th>
                                <th scope="col">Expense Date</th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of expenseList">
                                <td>{{expense.expenseName}}</td>
                                <td>{{expense.amount}}</td>
                                <td>{{expense.month}}</td>
                                <td>{{expense.expenseDate}}</td>
                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Edit">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <!-- Card Header - Dropdown -->
        <div class="card-header ">
            <h5 class="m-0 font-weight-bold text-primary">
                Add Expense
            </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="expenseForm" (ngSubmit)="saveExpense()">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="name">Name*</label>
                        <input class="form-control" type="text" id="name" placeholder="Name" autocomplete="off"
                            maxlength="100" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="amount">Amount</label>
                        <div class="my-1">
                            <label class="sr-only" for="amount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="amount" placeholder="XXXXXXX"
                                    autocomplete="off" mask="0000000">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="year">Payment Month/Year</label>
                        <input autocomplete="off" class="form-control" name="date" bsDatepicker
                            [bsConfig]="{dateInputFormat: 'MM/YYYY',containerClass: 'theme-dark-blue'}" minMode="month" placeholder="MM/YYYY"
                            mask="00/0000" [maxDate]="today" >
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="paymentdate">Expense Date</label>
                        <div class="input-group">
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker  mask="00/00/0000" [maxDate]="today"  [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers:false, containerClass: 'theme-dark-blue'}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label class="custom-file-upload">
                            <input type="file" />
                            Upload Files
                        </label>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">File Name</th>
                                    <th class="action-button">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of uploadedFiles">
                                    <td>{{file.name}}</td>
                                    <td class="action-button">
                                        <a href="javascript:void(0)" ngbTooltip="Edit">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                        </a>
                                        <a href="javascript:void(0)" ngbTooltip="Delete">
                                            <fa-icon [icon]="faDelete"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row submit-buttons">
                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>