<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Company Expenses
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> Company Expenses List</h5>
        </div>
        <div class="card-body">
            <div class="row mrgn-btm-15">
                <div class="col-lg-2">
                    <strong>Start Date</strong>
                    <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker mask="00/00/0000"
                    [maxDate]="today" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false, containerClass: 'theme-dark-blue'}">
                </div>
                <div class="col-lg-2">
                    <strong>End Date</strong>
                    <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker mask="00/00/0000"
                    [maxDate]="today" [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false, containerClass: 'theme-dark-blue'}" >
                </div>
                <div class="col-lg-8 algn-right">
                    <button class="btn btn-primary btn-sm" (click)="addExpenses()">
                        Add Expenses</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Expense Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Expense Date</th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of expenseList">
                                <td>{{expense.title || 'N/A'}}</td>
                                <td>{{expense.amount || 'N/A'}}</td>
                                <td>{{expense.expenseDate || 'N/A'}}</td>
                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Edit" (click)="editExpense(expense)">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="Delete" (click)="deleteExpense(expense)">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="!expenseList.length">
                                <td colspan="4">
                                    No Records Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <!-- Card Header - Dropdown -->
        <div class="card-header ">
            <h5 class="m-0 font-weight-bold text-primary">
                Add Expense
            </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="expenseForm" (ngSubmit)="saveExpense()">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="title">Title*</label>
                        <input class="form-control" type="text" id="title" placeholder="Title" autocomplete="off"
                            maxlength="100" formControlName="title"
                            [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
                    </div>
                   
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="amount">Amount</label>
                        <div class="my-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="amount" placeholder="XXXXXXX"
                                    autocomplete="off" mask="0000000" formControlName="amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="expenseDate">Expense Date</label>
                        <div class="input-group">
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker
                            formControlName="expenseDate" [maxDate]="today" #pd="bsDatepicker" readonly
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false,  containerClass: 'theme-dark-blue'}">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="pd.toggle()">
                                    <fa-icon [icon]="faCalendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="notes">Note</label>
                        <textarea type="text" name="notes" placeholder="Enter notes here" class="form-control "
                            autocomplete="off" maxlength="200" formControlName="notes" ></textarea>
                    </div>
                </div>

                <div class="row" *ngIf="false">
                    <div class="form-group col-lg-4">
                        <label class="custom-file-upload">
                            <input type="file" />
                            Upload Files
                        </label>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">File Name</th>
                                    <th class="action-button">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of uploadedFiles">
                                    <td>{{file.name}}</td>
                                    <td class="action-button">
                                        <a href="javascript:void(0)" ngbTooltip="Edit">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                        </a>
                                        <a href="javascript:void(0)" ngbTooltip="Delete">
                                            <fa-icon [icon]="faDelete"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row submit-buttons">
                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>