<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Projects
    </h1>
</div>



<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> Project List </h5>
        </div>
        <div class="card-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-lg-12">
                    <button class="btn btn-primary btn-sm" (click)="addProject()" style="float:right">Add
                        Project</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Status</th>

                                <th scope="col">Project Type </th>

                                <th scope="col">Cost</th>

                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projectlist">

                                <td>
                                    {{project.name}}
                                </td>
                                <td>
                                    {{project.startDate}}
                                </td>
                                <td>
                                    {{ project.status}}
                                </td>
                                <td>

                                    {{ project.type}}
                                </td>
                                <td>
                                    {{ project.cost}}
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Edit">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Add Project </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal">

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="projectName">Project Name </label>
                        <input type="text" class="form-control" id="projectName" placeholder="Project Name"
                            maxlength="20">
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="projectName">Project Owner </label>
                        <input type="text" class="form-control" id="projectowner" placeholder="Project Owner"
                            maxlength="20">
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="projectdiscrption">Project Discription </label>
                            <input type="text" class="form-control" id="txtproject" placeholder="Project Discription"
                                maxlength="200">
                        </div>

                        autocomplete="off" maxlength="100">

                    </div>

                    <div class="form-group col-lg-6">
                        <label for="duration">Duration </label>
                        <select name="duration" class="form-select col-lg-12"
                            (change)="onDurationChange($event.target)">
                            <option *ngFor="let duration of durations" [value]="duration.id">{{duration.name}}</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="startDate">Start Date </label>
                        <div class="input-group">
                            <input class="form-control" placeholder="DD/MM/YYYY" name="dp" ngbDatepicker
                                #d="ngbDatepicker" id="startDate" mask="00/00/0000" autocomplete="off">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>

                    </div>

                    <div class="form-group col-lg-6">
                        <label for="endDate">End Date </label>
                        <div class="input-group">
                            <input class="form-control" placeholder="DD/MM/YYYY" name="dp" ngbDatepicker
                                #p="ngbDatepicker" id="endDate" mask="00/00/0000" autocomplete="off">
                            <button class="btn btn-outline-secondary calendar" (click)="p.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">

                        <label for="budgetAmount">Budget Amount </label>
                        <div class="my-1">
                            <label class="sr-only" for="budgetAmount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="budgetAmount" placeholder="Amount"
                                    autocomplete="off" mask="000000">
                            </div>
                        </div>

                        <label for="Cost">Cost </label>
                        <input type="text" class="form-control" id="txtDescription" placeholder="Cost"
                            autocomplete="off" mask="000000">

                    </div>

                    <div class="form-group col-lg-6">
                        <label for="status">Status </label>
                        <select name="status" class="form-select col-lg-12" (change)="onStatusChange($event.target)">
                            <option *ngFor="let status of status" [value]="status.id">{{status.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <input type="button" *ngIf="isAddNew" class="btn btn-success" value="Save"
                            style="margin-right: 10px; width:100px;" />

                        <input type="button" class="btn btn-outline-primary" value="Cancel" style="width:100px;"
                            (click)="isShown = true" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>