<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Projects
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> Project List </h5>
        </div>

        <div class="card-body">

            <div class="row mrgn-btm-15">
                <div class="col-lg-12 algn-right">
                    <button class="btn btn-primary btn-sm" (click)="addProject()">Add
                        Project</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Technology </th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let project of projectlist">
                                <td>
                                    {{project.name}}
                                </td>
                                <td>
                                    {{project.startDate }}
                                </td>
                                <td>
                                    {{ project.status || 'N/A' }}
                                </td>
                                <td>
                                    {{ project.technology || 'N/A' }}
                                </td>

                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Edit" (click)="editProject(project)">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="Delete" (click)="deleteProject(project)">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Add Project </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="projectForm" (ngSubmit)="saveProject()">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="name">Name </label>
                        <input type="text" class="form-control" id="name" placeholder="Name" maxlength="20"
                            autocomplete="off" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="ownerName">Owner Name</label>
                        <input type="text" class="form-control" id="ownerName" placeholder="Owner Name" maxlength="50"
                            autocomplete="off" formControlName="ownerName">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="description">Description </label>
                        <textarea type="description" class="form-control" id="description"
                            placeholder="Enter project description here" maxlength="200"
                            formControlName="description"></textarea>
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="technology">Technology</label>
                        <div>
                            <ul class="technology-list">
                                <li *ngFor="let technology of technologies">
                                    <label class="btn btn-primary-active">
                                        <input type="checkbox" formControlName="technologies"> {{technology.name}}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="duration">Duration </label>
                        <select name="duration" class="form-select col-lg-12" formControlName="durationId">
                            <option value="0">-- Select Duration --</option>
                            <option *ngFor="let duration of durations" [value]="duration.id"> {{duration.name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="status">Status </label>
                        <select name="status" class="form-select col-lg-12" formControlName="statusId">
                            <option value="0">-- Select Status --</option>
                            <option *ngFor="let status of status" [value]="status.id">{{status.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="startDate">Start Date </label>
                        <div class="input-group">
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker
                                formControlName="startDate" [maxDate]="today" #sd="bsDatepicker" readonly
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false, containerClass: 'theme-dark-blue'}">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="sd.toggle()">
                                    <fa-icon [icon]="faCalendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="completionDate">Completion Date </label>
                        <div class="input-group">
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker
                                formControlName="completionDate" [maxDate]="today" #sd="bsDatepicker" readonly
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false, containerClass: 'theme-dark-blue'}">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="sd.toggle()">
                                    <fa-icon [icon]="faCalendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="budgetAmount">Budget Amount </label>
                        <div class="my-1">
                            <label class="sr-only" for="budgetAmount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="budgetAmount" placeholder="XXXXXXX"
                                    mask="000000" autocomplete="off" formControlName="budgetAmount">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row submit-buttons">
                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>