<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Project Payment
    </h1>
</div>

<!-- Content Row -->
<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> Project Payment List </h5>
        </div>
        <div class="card-body">
            <div class="row mrgn-btm-15">
                <div class="col-lg-2">
                    <strong>Start Month/Year</strong>
                    <input type="text" placeholder="MM/YYYY" class="form-control" bsDatepicker mask="00/0000"
                        [maxDate]="today" [bsConfig]="{dateInputFormat: 'MM/YYYY', containerClass: 'theme-dark-blue'}"
                        minMode="month">
                </div>
                <div class="col-lg-2">
                    <strong>End Month/Year</strong>
                    <input type="text" placeholder="MM/YYYY" class="form-control" bsDatepicker mask="00/0000"
                        [maxDate]="today" [bsConfig]="{dateInputFormat: 'MM/YYYY', containerClass: 'theme-dark-blue'}"
                        minMode="month">
                </div>

                <div class="col-lg-8 algn-right">
                    <button class="btn btn-primary btn-sm" (click)="addProjectPayment()">
                        Add Project Payment</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col">Received Amount</th>
                                <th scope="col">Payment Month</th>
                                <th scope="col">Payment Date</th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let projectPayment of projectPaymentList">
                                <td>
                                    {{projectPayment.projectName}}
                                </td>
                                <td>
                                    {{projectPayment.receivedAmount || 'N/A'}}
                                </td>
                                <td>
                                    {{projectPayment.paymentMonthYear || 'N/A'}}
                                </td>
                                <td>
                                    {{projectPayment.paymentDate}}
                                </td>
                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Edit" (click)="editProject(projectPayment)">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Delete" (click)="deleteProject(projectPayment)">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="!projectPaymentList.length">
                                <td colspan="5">
                                        No Records Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Project Payment Detail</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="projectPaymentForm" (ngSubmit)="saveProjectPayment()">

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="project">Project</label>
                        <span class="red">*</span>
                        <select name="project" class="form-select col-lg-12" formControlName="projectId"
                         [ngClass]="{ 'is-invalid': submitted && f['projectId'].errors }">
                            <option value="0">-- Select Project --</option>
                            <option *ngFor="let project of projectsList" [value]="project.projectId">{{ project.name }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="receivedAmount">Received Amount</label>
                        <span class="red">*</span>
                        <div class="my-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="receivedAmount" placeholder="XXXXXXX"
                                    autocomplete="off" mask="9999999" formControlName="receivedAmount"  
                                     [ngClass]="{ 'is-invalid': submitted && f['receivedAmount'].errors }">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="balancedAmount">Balanced Amount </label>
                        <div class="my-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="balancedAmount" placeholder="XXXXXXX"
                                    autocomplete="off" mask="9999999" formControlName="balancedAmount" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="year">Payment Month/Year</label>
                        <span class="red">*</span>
                        <input autocomplete="off" class="form-control" name="date" bsDatepicker [maxDate]="today"
                            [bsConfig]="{dateInputFormat: 'MM/YYYY', containerClass: 'theme-dark-blue'}" minMode="month"
                            placeholder="MM/YYYY" formControlName="paymentMonthYear"
                             [ngClass]="{ 'is-invalid': submitted && f['paymentMonthYear'].errors }">
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="paymentDate">Payment Date </label>
                        <div class="input-group">
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker
                                [maxDate]="today" formControlName="paymentDate" #pd="bsDatepicker" readonly
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false,  containerClass: 'theme-dark-blue'}">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="pd.toggle()">
                                    <fa-icon [icon]="faCalendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="notes">Note</label>
                        <textarea type="text" name="notes" placeholder="Enter notes here" class="form-control "
                            autocomplete="off" maxlength="200" formControlName="notes"></textarea>
                    </div>
                </div>

                <div class="row submit-buttons">
                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>