<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Project Payment
    </h1>
</div>

<!-- Content Row -->
<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> Project List </h5>
        </div>
        <div class="card-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-lg-3">
                    <select name="year" class="form-select col-lg-12" (change)="onGridYearChange($event.target)">
                        <option *ngFor="let year of years" [value]="year.id">{{ year.name }}</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select name="month" class="form-select col-lg-12" (change)="onGridMonthChange($event.target)">
                        <option *ngFor="let month of months" [value]="month.id">{{ month.name }}</option>
                    </select>
                </div>

                <div class="col-lg-6">
                    <button class="btn btn-success" (click)="addProjectPayment()" style="float:right">Add
                        Project Payment</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col">Received Amount</th>
                                <th scope="col">Month/Year</th>
                                <th scope="col">Payment Date</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of paymentlist">
                                <td>
                                    {{payment.name}}
                                </td>
                                <td>
                                    {{payment.receivedAmount}}
                                </td>
                                <td>
                                    {{ payment.month}}
                                </td>
                                <td>
                                    {{ payment.date}}
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Edit">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div *ngIf="!isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Add Project Payment</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal">

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="project">Project</label>
                        <select name="project" class="form-select col-lg-12" (change)="onProjectChange($event.target)">
                            <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="recieved amount">Recieved Amount </label>
                        <input class="form-control" type="text" id="recievedamount" placeholder=" Recieved Amount"
                            mask="000000" autocomplete="off">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for=" balanced amount"> Balanced Amount </label>
                        <input class="form-control" type="text" id="balancedamount" placeholder=" Balanced Amount"
                            mask="000000" autocomplete="off">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="year">Year</label>
                        <select name="year" class="form-select col-lg-12" (change)="onYearChange($event.target)">
                            <option *ngFor="let year of years" [value]="year.id">{{ year.name }}</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="month">Month </label>
                        <select name="month" class="form-select col-lg-12" (change)="onMonthChange($event.target)">
                            <option *ngFor="let month of months" [value]="month.id">{{ month.name }}</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="paymentDate">Payment Date </label>
                        <div class="input-group">
                            <input class="form-control" placeholder="DD/MM/YYYY" name="dp" ngbDatepicker
                                #d="ngbDatepicker" id="paymentDate" mask="00/00/0000" autocomplete="off">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input type="button" *ngIf="isAddNew" class="btn btn-success" value="Save"
                                style="margin-right: 10px; width:100px;" />

                            <input type="button" class="btn btn-outline-primary" value="Cancel" style="width:100px;"
                                (click)="isShown = true" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>