<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Users
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary"> User List</h5>
        </div>

        <div class="card-body">

            <div class="row mrgn-btm-15">
                <div class="col-lg-12 algn-right">
                    <button class="btn btn-primary btn-sm" (click)="addUser()">Add
                        User</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">User Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Create Date </th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userlist">
                                <td>
                                    {{user.userName}}
                                </td>
                                <td>
                                    {{user.role}}
                                </td>
                                <td>
                                    {{ user.status}}
                                </td>
                                <td>
                                    {{ user.createDate}}
                                </td>

                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Edit">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Add User </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="name">Name </label>
                        <input type="text" class="form-control" id="name" placeholder="Name" maxlength="20" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="role">Role</label>
                        <select name="role" class="form-select col-lg-12" (change)="onRolesChange($event.target)">
                            <option *ngFor="let roles of roles" [value]="roles.id">{{roles.name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="status">Status </label>
                        <select name="status" class="form-select col-lg-12" (change)="onStatusChange($event.target)">
                            <option *ngFor="let status of status" [value]="status.id">{{status.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <div>
                            <label for="screenPermission">Screen Permission</label>
                        </div>
                        <label for="employee">Employee </label>
                        <div>
                            <label class="btn btn-primary-active">
                                <input type="checkbox" checked> Employee Detial
                            </label>
                            <label class="btn btn-primary-active">
                                <input type="checkbox" checked> Employee Project
                            </label>
                            <label class="btn btn-primary-active">
                                <input type="checkbox" checked> Employee Payment
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="employee">Project </label>
                        <div>
                            <label class="btn btn-primary-active">
                                <input type="checkbox" checked> Project Detail
                            </label>
                            <label class="btn btn-primary-active">
                                <input type="checkbox" checked> Project Payment
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-lg-6">
                        <div>
                            <label for="company">Company </label>
                        </div>
                        <label class="btn btn-primary-active" >
                            <input type="checkbox" checked> Company Expenses
                        </label>
                        <label class="btn btn-primary-active">
                            <input type="checkbox" checked> Users
                        </label>
                        <label class="btn btn-primary-active">
                            <input type="checkbox" checked> Generate Invoice
                        </label>
                        <label class="btn btn-primary-active">
                            <input type="checkbox" checked> Report
                        </label>
                    </div>
                </div>

                <div class="row submit-buttons">
                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>