<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Employee Payment
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Employee Payment List</h5>
        </div>
        <div class="card-body">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-lg-3">
                    <select name="year" class="form-select col-lg-12" (change)="onChange($event.target)">
                        <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <select name="month" class="form-select col-lg-12" (change)="onChange($event.target)">
                        <option *ngFor="let month of months" [value]="month.id">{{month.name}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-sm" (click)="addEmployer()" style="float:right">Add
                        Payment</button>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Month/Year</th>
                                <th scope="col">Payment Date</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employer">
                                <td>{{emp.employeeName}}</td>
                                <td>{{emp.amount}}</td>
                                <td>{{emp.month}}</td>
                                <td>{{emp.paymentDate}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Edit">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" style="margin-right: 10px;" ngbTooltip="Delete">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <!-- Card Header - Dropdown -->
        <div class="card-header ">
            <h5 class="m-0 font-weight-bold text-primary">Add Employer</h5>

        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="employee">Employee</label>
                        <select name="employee" class="form-select col-lg-12" (change)="onChange($event.target)">
                            <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="amount">Amount</label>
                        <input class="form-control" type="text" id="amount" placeholder="Amount" mask="00,00,000"
                            autocomplete="off">
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="month">Month</label>
                        <select name="month" class="form-select col-lg-12" (change)="onChange($event.target)">
                            <option *ngFor="let month of months" [value]="month.id">{{month.name}} </option>
                        </select>

                    </div>

                    <div class="form-group col-lg-4">
                        <label for="year">Year</label>
                        <select name="year" class="form-select col-lg-12" (change)="onChange($event.target)">
                            <option *ngFor="let year of years" [value]="year.id">{{year.name}}</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="ngbDatepicker">Payment Date</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="MM/DD/YYYY" name="dp" ngbDatepicker
                                #d="ngbDatepicker" mask="00/00/0000" autocomplete="off">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="form-group col-lg-12">
                        <input type="button" *ngIf="isAddNew" class="btn btn-success" value="Save"
                            style="margin-right: 10px; width:100px;" />
                        <input type="button" *ngIf="!isAddNew" class="btn btn-primary" value="Update"
                            style="margin-right: 10px; width:100px;" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" style="width:100px;"
                            (click)="isShown = true" />
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>