<!--Page Title-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Employee Payment
    </h1>
</div>

<!-- Content Row -->

<div class="card shadow mb-4">
    <div *ngIf="isShown">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">
                Employee Payment List
            </h5>
        </div>
        <div class="card-body">
            <div class="row mrgn-btm-15 ">
                <div class="col-lg-2">
                    <strong>Start Month/Year</strong>
                    <input type="text" placeholder="MM/YYYY" class="form-control" bsDatepicker mask="00/0000"
                        [maxDate]="today" [bsConfig]="{dateInputFormat: 'MM/YYYY', containerClass: 'theme-dark-blue'}"
                        minMode="month">
                </div>
                <div class="col-lg-2">
                    <strong>End Month/Year</strong>
                    <input type="text" placeholder="MM/YYYY" class="form-control" bsDatepicker mask="00/0000"
                        [maxDate]="today" [bsConfig]="{dateInputFormat: 'MM/YYYY', containerClass: 'theme-dark-blue'}"
                        minMode="month">
                </div>
                <div class="col-lg-3">
                    <strong>Employee</strong>
                    <select name="employee" class="form-select">
                        <option value="0">-- All --</option>
                        <option *ngFor="let employee of employeesList" [value]="employee.employeeId">{{employee.firstName}} {{employee.lastName}}</option>
                    </select>
                </div>              

                <div class="col-lg-5 algn-right">
                    <button class="btn btn-primary btn-sm header-btn" (click)="addEmployeePayment()">
                        Add Employee Payment
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th scope="col">Employee Name</th>
                                <th scope="col" class="amount-column">Amount</th>
                                <th scope="col">Payment Month</th>
                                <th scope="col">Payment Date</th>
                                <th class="action-button">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employeePayment of employeePaymentList">
                                <td>{{employeePayment.employeeName}}</td>
                                <td class="amount-column">{{employeePayment.amount | currency:'INR':'symbol':'0.0' }}</td>
                                <td>{{employeePayment.paymentMonthYear || 'N/A' }}</td>
                                <td>{{employeePayment.paymentDate | date: 'dd/MM/yyyy' || 'N/A' }}</td>
                                <td class="action-button">
                                    <a href="javascript:void(0)" ngbTooltip="Edit"(click)="editEmployee(employeePayment)">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </a>
                                    <a href="javascript:void(0)" ngbTooltip="Delete"(click)="deleteEmployee(employeePayment)">
                                        <fa-icon [icon]="faDelete"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                            <tr class="total-amount" *ngIf="employeePaymentList.length">
                                <td colspan="5">
                                    <h5>Total - {{totalAmount | currency:'INR':'symbol':'0.0'}} </h5>
                                </td>
                            </tr>
                            <tr *ngIf="!employeePaymentList.length">
                                <td colspan="5">
                                    No records found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isShown">
        <!-- Card Header - Dropdown -->
        <div class="card-header ">
            <h5 class="m-0 font-weight-bold text-primary">
                Employee Payment Detail
            </h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="employeePaymentForm" (ngSubmit)="saveEmployeePayment()">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="employee">Employee</label>
                        <span class="red">*</span>
                        <select name="employee" class="form-select col-lg-12" formControlName="employeeId"
                        [ngClass]="{ 'is-invalid': submitted && f['employeeId'].errors }">
                            <option value="0">-- Select Employee --</option>
                            <option *ngFor="let employee of employeesList" [value]="employee.employeeId">{{employee.firstName}} {{employee.lastName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="amount">Amount</label>
                        <span class="red">*</span>
                        <div class="my-1">
                            <label class="sr-only" for="amount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">₹</div>
                                </div>
                                <input type="text" class="form-control" id="amount" placeholder="XXXXXXX"
                                    autocomplete="off" mask="9999999" formControlName="amount" 
                                    [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="year">Payment Month/Year</label>
                        <span class="red">*</span>
                        <input autocomplete="off" class="form-control" name="date" bsDatepicker [maxDate]="today"
                            [bsConfig]="{dateInputFormat: 'MM/YYYY', containerClass: 'theme-dark-blue'}" minMode="month"
                            placeholder="MM/YYYY" formControlName="paymentMonthYear"
                            [ngClass]="{ 'is-invalid': submitted && f['paymentMonthYear'].errors }">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        
                        <label for="paymentdate">Payment Date</label>
                        <div class="input-group">
                            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker
                                [maxDate]="today" formControlName="paymentDate" #pd="bsDatepicker" readonly
                                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', showWeekNumbers:false,  containerClass: 'theme-dark-blue'}">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" (click)="pd.toggle()">
                                    <fa-icon [icon]="faCalendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="notes">Note</label>
                        <textarea type="text" name="notes" placeholder="Enter notes here" class="form-control "
                            autocomplete="off" maxlength="200" formControlName="notes"></textarea>
                    </div>
                </div>

                <div class="row submit-buttons">
                    <div class="form-group col-lg-12">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="button" class="btn btn-outline-primary" value="Cancel" (click)="isShown = true" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>